:root {
    --color-green: #da5d8f;
    --color-white: #FFFFFF;
    --color-dark-grey: #45494b;
    --color-medium-grey: #9e9ed8;
    --color-light-grey: #edd584;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--color-medium-grey);
    color: var(--color-white);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* header */

.header {
    text-align: center;
}

.header_title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-green);
}

/* controls */

.controls {
    background: var(--color-green);
}

/* counter */

.counter {
    background: var(--color-dark-grey);
}

.counter_value {
    width: 100%;
    height: 268px;
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    background: none;
    color: var(--color-white);
    border-width: 0;
    border-bottom: 1px solid var(--color-light-grey);
}

.counter_actions {
    display: flex;
}

.counter_button {
    background: none;
    width: 50%;
    border-width: 0;
    color: var(--color-white);
    font-size: 3rem;
    height: 10rem;
    border-bottom: 1px solid var(--color-light-grey);
    transition: transform 0.1s;
    transform: translateY(0);
}

.counter_button:disabled {
    opacity: 0.2;
}

.counter_button:active {
    background: var(--color-medium-grey);
    transition: translateY(-2%);
}

.counter_button_first {
    border-right: 1px solid var(--color-light-grey);
}

/* footer */

.footer {
    background: var(--color-dark-grey);
    height: 5rem;
    color: var(--color-white);
    text-align: center;
}

.footer_link {
    color: var(--color-green);
}
